body{
  margin: 0;
  padding: 0;
  background-color: white;
}

.main{
  height: 100%;
  width: auto;
}

.userInfo-main{
  width: 100%;
  height: 60px;
  background-color: #C8C8C8;
  border-top: 1px solid #C8C8C8;
}

.userInfo-background{
  background-color: white;
  width: 100%;
  height: 90%;
}

.userInfo-headImg{
  padding: 15px;
  width: 30px;
  height: 30px;
  float: left;
}

.clearFloat{
  clear:both;
}

.userInfo-wh{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.userInfo-userNike{
  line-height: 56px;
  float: left;
}

.rewardList-main{
  width: 100%;
}

.rewardList-button{
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width:70px;
  border-radius: 5px;
  background-color: #999999;
  text-align:center;
}

.rewardList-ds{
  line-height: 30px;
  color: white;
}

.spotList-main{
  width: 100%;
  height: 50px;
  background-color: #C8C8C8;
}

.spotList-name{
  width: 30%;
  height: 38px;
  background-color: white;
  margin-top: 6px;
  position: absolute;
  text-align: left;
}
.spotList-name>span{
  line-height: 40px;
  margin-left: 15px;
}

.spotList-head{
  position:absolute;
  width: 70%;
  height: 38px;
  background-color: white;
  margin-top: 6px;
  right: 0px;
  text-align: right;
}

.spotList-headImg{
  width: 30px;
  height: 30px;
  padding-right: 5px;
  padding-top:4px;
  float:right;
}

.spotList-Img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.replyList-main{
  width: 100%;
  height: 100%;
}

.replyList-row{
  width:auto;
  height: 100%;
  position: relative;
}

.replyList-bottom{
  border-bottom: 2px solid #F8F8F8;
}

.replyList-row>span{
  height: 30px;
  line-height: 30px;
  margin-left:15px;
}

.replyList-col-1{
  width:78%;
  height:50px;
  float: left;
}

.replyList-col-2{
  width:20%;
  height:50px;
  float: right;
  text-align: right;
}

.replyList-col-2>span{
  margin-right: 10px;
  line-height: 50px;
}

.replyList-img{
  width:30px;
  height: 30px;
  margin-top: 8px;
  margin-left: 12px;
  float:left;
}

.replyList-img>img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.replyList-nicks{
  width:75%;
  margin-top: 8px;
  float: left;
  margin-left: 5px;
  height: 30px;
}

.replyList-nicks span{
  display: block;
  height: 15px;
  margin-left: 8px;
}
.replyList-times{
  color:#E9E9E9;
}

.replyList-content{
  height: 100%;
  width: 100%;
  float:right;
}

.replyList-content pre{
    display: block;
    border-bottom:1px solid #F8F8F8;
    margin: 0px;
    margin-left:50px;
    padding:5px;

}

.detail-row{
  width: calc(100% - (15px) * 2);
  width: -webkit-calc(100% - (15px) * 2);
  width: -moz-calc(100% - (15px) * 2);
  height: 100%;
  padding :10px 15px 10px 15px;
}

.detail-title{
  font-weight: bold;
}

.detail-content{
  padding-top:0px;
}

.detailImg{
  width: calc(100% - (15px) * 2);
  width: -webkit-calc(100% - (15px) * 2);
  width: -moz-calc(100% - (15px) * 2);
  height: 100%;
  padding :10px 15px 10px 15px;
}

.detailImg>img{
  width: 100%;
  height: 100%;
}
.detailImg>video{
  width: 100%;
  height: 100%;
}
