/*user_head_box*/
.user_head_box{
    background-color: #FFFFFF;
    line-height: 30px;
    padding: 10px;
    font-size: 14px;
    color: #999999;
}

.user_image_box{
    float: left;
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.user_name{
    color: #666666;
    font-weight: 700;
    margin-right: 10px;
}