/*title_price_box*/
.title_price_box{
    padding: 0px 10px;
    color: #666666;
    font-size: 16px;
    background-color: #FFFFFF;
    font-weight: 700;
    line-height: 20px;
}

.title_price_box>div{
    padding: 7px 0px;
}

.price_box{
    font-size: 12px;
    font-weight: normal;
}

.price_box>span+span{
    margin-left: 10px;
}

.price_type{
    background-color: #FF4E72;
    color: #FFFFFF;
    padding: 0px 4px;
    border-radius: 4px;
    float: left;
}

.current_price{
    font-size: 16px;
    font-weight: 700;
}

.peoples_buy_number{
    float: right;
    color: #999999;
}