/*swiper-container*/
.swiper-wrapper{
    bottom: 0px;
    top: 0px;
    position: absolute;
}
.swiper-slide{
    background-color: #FFFFFF;
}

.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background-color: #FF4E72;
    opacity: .5;
}

.swiper-pagination-bullet-active{
    opacity: 1;
}
