/*time_address_box*/
.time_address_box{
    background-color: #FFFFFF;
    padding: 10px 0px 10px 10px;
    position: relative;
    line-height: 30px;
}

.time_address_box>div{
    width: 100%;
    position: relative;
    display: inline-block;
}

.time_address_box .icon_box{
    width: 30px;
    height: 30px;
    background-color: red;
    position: absolute;
    z-index: 2;
    left: 0px;
    top : calc( (100% - 30px) /2 )

}

.time_address_box .time_text,
.time_address_box .address_text{
    padding-left: 40px;
    padding-right: 10px;
    font-size: 14px;
}
